.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 712px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 7px;
  margin: 30px auto 0 0;
  padding: 16px 31px 16px 29px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 88px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 28px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 51px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -51px -1px 0 148px;
}

.u-section-1 .u-text-4 {
  margin: 7px 0 0 148px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 88px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 1035px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 28px;
}

.u-section-1 .u-shape-1 {
  width: 407px;
  height: 513px;
  --bottom-left-radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 167px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 380px;
  height: 507px;
  --bottom-left-radius: 10px;
  margin: -562px 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 173px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 106px;
    height: 42px;
    margin-right: 194px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -41px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: -2px;
    margin-left: 135px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 173px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-shape-1 {
    width: -11px;
  }

  .u-section-1 .u-image-2 {
    width: 321px;
    height: 446px;
    margin-top: -487px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -2px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 226px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 2300px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 526px;
  }

  .u-section-1 .u-image-2 {
    width: 604px;
    height: 735px;
    margin-top: -792px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 407px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 20px 10px 0 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 540px;
  }

  .u-section-1 .u-image-2 {
    width: 460px;
    height: 584px;
    margin-top: -648px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 148px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 148px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 541px;
  }

  .u-section-1 .u-image-2 {
    width: 277px;
    height: 383px;
    margin-top: -428px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1693px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-blog-1 {
  height: auto;
  margin: 52px auto 51px 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 11px);
  grid-template-columns: repeat(2, calc(50% - 11px));
  min-height: 972px;
  --gap: 22px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
  --radius: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 353px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  min-height: 196px;
  height: auto;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-metadata-1 {
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-repeater-item-2 {
  background-size: auto;
  --radius: 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 353px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-2 {
  min-height: 196px;
  height: auto;
  background-size: auto;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 0 auto;
}

.u-section-2 .u-metadata-2 {
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
}

.u-section-2 .u-text-5 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 1rem;
}

.u-section-2 .u-repeater-item-2 {
  background-size: auto;
  --radius: 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 353px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-3 {
  min-height: 196px;
  height: auto;
  background-size: auto;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-6 {
  margin: 0 auto;
}

.u-section-2 .u-metadata-3 {
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
}

.u-section-2 .u-text-7 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 1rem;
}

.u-section-2 .u-repeater-item-2 {
  background-size: auto;
  --radius: 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 353px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-4 {
  min-height: 196px;
  height: auto;
  background-size: auto;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-8 {
  margin: 0 auto;
}

.u-section-2 .u-metadata-4 {
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
}

.u-section-2 .u-text-9 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-2 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 22px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1562px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 527px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 975px;
}

.u-section-4 .u-group-1 {
  width: 506px;
  min-height: 875px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-4 .u-group-2 {
  width: 420px;
  height: 544px;
  --bottom-right-radius: 10px;
  min-height: 544px;
  margin: 69px 7px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 427px;
  height: 555px;
  margin: -69px auto 0 -79px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -613px 0 0 570px;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px 0 0 570px;
}

.u-section-4 .u-list-1 {
  width: 482px;
  margin: 34px 88px 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 157px;
  --gap: 10px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 10px 6px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 600;
  margin: 0 -5px 0 5px;
}

.u-section-4 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 10px 6px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 600;
  margin: 0 -5px 0 5px;
}

.u-section-4 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 4px;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 10px 6px 0;
}

.u-section-4 .u-text-5 {
  font-weight: 600;
  margin: 0 -5px 0 5px;
}

.u-section-4 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 4px;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 10px 6px 0;
}

.u-section-4 .u-text-6 {
  font-weight: 600;
  margin: 0 -5px 0 5px;
}

.u-section-4 .u-icon-4 {
  vertical-align: 0px;
  margin-right: 4px;
}

.u-section-4 .u-btn-1 {
  --radius: 7px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px 442px 86px auto;
  padding: 16px 31px 16px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-4 .u-group-1 {
    width: 451px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -611px;
    margin-left: 495px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-left: 495px;
  }

  .u-section-4 .u-list-1 {
    width: 445px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-gap: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 40px;
    margin-right: 317px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1467px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    min-height: 151px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-4 .u-group-1 {
    width: 506px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 442px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 882px;
}

.u-section-5 .u-group-1 {
  width: 508px;
  min-height: 741px;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-5 .u-shape-1 {
  width: 427px;
  height: 617px;
  --bottom-right-radius: 10px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 89px 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 427px;
  height: 635px;
  --bottom-right-radius: 10px;
  object-position: 50% 0%;
  margin: -706px auto 0 0;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -742px 0 0 570px;
}

.u-section-5 .u-list-1 {
  width: 570px;
  margin: 32px 0 118px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 8px));
  min-height: 546px;
  grid-auto-columns: calc(50% - 8px);
  --gap: 16px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 20px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 20px 20px 0;
}

.u-section-5 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 20px 20px 0;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1rem;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-5 .u-group-1 {
    width: 437px;
    min-height: 744px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-5 .u-shape-1 {
    width: 377px;
    height: 640px;
  }

  .u-section-5 .u-image-1 {
    width: 377px;
    height: 666px;
    margin-top: -729px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -744px;
    margin-left: 487px;
  }

  .u-section-5 .u-list-1 {
    width: 453px;
    margin-top: 29px;
    margin-bottom: 69px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 600px;
    grid-gap: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1554px;
  }

  .u-section-5 .u-group-1 {
    min-height: 757px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 480px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-5 .u-image-1 {
    width: 473px;
    height: 652px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 555px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 60px;
  }

  .u-section-5 .u-image-1 {
    width: 451px;
    height: 655px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1735px;
  }

  .u-section-5 .u-group-1 {
    min-height: 507px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-1 {
    width: 293px;
    height: 400px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    width: 293px;
    height: 438px;
    margin-top: -489px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-block-47dd-37:not([data-block-selected]):not([data-cell-selected]),
.u-block-47dd-37:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-47dd-37:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-47dd-37:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout:hover > .u-block-47dd-37:not([data-block-selected]):not([data-cell-selected]) {
  background-color: #000000 !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-block-47dd-37:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover > .u-block-47dd-37:not([data-block-selected]):not([data-cell-selected]) {
  background-color: #000000 !important;
  opacity: 1 !important;
}

.u-block-47dd-43:not([data-block-selected]):not([data-cell-selected]),
.u-block-47dd-43:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-47dd-43:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-47dd-43:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout:hover > .u-block-47dd-43:not([data-block-selected]):not([data-cell-selected]) {
  background-color: #000000 !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-block-47dd-43:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover > .u-block-47dd-43:not([data-block-selected]):not([data-cell-selected]) {
  background-color: #000000 !important;
  opacity: 1 !important;
}

.u-block-47dd-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-47dd-49:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-47dd-49:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-47dd-49:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout:hover > .u-block-47dd-49:not([data-block-selected]):not([data-cell-selected]) {
  background-color: #000000 !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-block-47dd-49:not([data-block-selected]):not([data-cell-selected]) .u-svg-link {
  fill: var(--#ffffff) !important;
}

.u-container-layout.hover > .u-block-47dd-49:not([data-block-selected]):not([data-cell-selected]) {
  background-color: #000000 !important;
  opacity: 1 !important;
}.u-section-6 .u-sheet-1 {
  min-height: 625px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 505px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 0;
  font-size: 3rem;
}

.u-section-6 .u-icon-2 {
  width: 86px;
  height: 86px;
  margin: 49px auto 0 0;
  padding: 19px;
}

.u-section-6 .u-text-2 {
  margin: -86px 0 0 105px;
}

.u-section-6 .u-text-3 {
  margin: 9px 0 0 105px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-icon-3 {
  width: 86px;
  height: 86px;
  margin: 49px auto 0 0;
  padding: 19px;
}

.u-section-6 .u-text-4 {
  margin: -86px 0 0 105px;
}

.u-section-6 .u-text-5 {
  margin: 9px 0 0 105px;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 556px;
    --radius: 10px;
  }

  .u-section-6 .u-icon-1 {
    font-size: 0.7917em;
  }

  .u-section-6 .u-text-2 {
    margin-left: 120px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 91px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 50px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 120px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 137px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 62px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 137px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 20px;
    margin-left: 137px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 31px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-icon-2 {
    width: 70px;
    height: 70px;
    padding: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -70px;
    margin-left: 105px;
  }

  .u-section-6 .u-icon-3 {
    width: 67px;
    height: 67px;
    margin-top: 35px;
    padding: 15px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -67px;
    margin-left: 105px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 105px;
  }
}